<!doctype html>
<html lang="en" style="font-size: 12px;">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <title>SimpleAzureFileExplorer</title>
</head>

<body>
    <div>
        <div id="notification" class="alert alert-danger collapse" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <span class="message"></span>
        </div>
        <div class="row p-2">
            <h3 class="col-lg-2 col-md-3"><i class="fas fa-folder-open"></i>&nbsp;&nbsp;Path</h3>
            <nav id="path" class="nav nav-pills nav-justified col-lg-10 col-md-9">
            </nav>
        </div>
        <div class="row p-2">
            <h3 class="col-lg-2 col-md-3"><i class="fas fa-directions"></i>&nbsp;&nbsp;Action</h3>
            <ul class="nav nav-pills mb-3 col-lg-10 col-md-9" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-files-tab" data-toggle="pill" href="#pills-files" role="tab"
                       aria-controls="pills-files" aria-selected="true">Files and Folders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-newdir-tab" data-toggle="pill" href="#pills-newdir" role="tab"
                       aria-controls="pills-newdir" aria-selected="false">New Folder</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-upload-tab" data-toggle="pill" href="#pills-upload" role="tab"
                       aria-controls="pills-upload" aria-selected="false">Upload</a>
                </li>
            </ul>
            <div class="tab-content col-md-12" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-files" role="tabpanel"
                     aria-labelledby="pills-files-tab">
                    <table class="table table-striped table-hover table-sm table-responsive-md" id="directories">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center" style="width: 5%">Type</th>
                                <th scope="col" class="text-center" style="width: 5%">Delete</th>
                                <th scope="col">Name <span onclick="setState(selectedShare, selectedDirectory)" class="float-right btn btn-link"><i class="fas fa-sync"></i></span></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div>
                <div class="tab-pane fade" id="pills-newdir" role="tabpanel" aria-labelledby="pills-newdir-tab">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <hr>
                            <label for="newfoldername">New Folder:</label>
                            <input type="text" class="form-control" id="newfoldername"
                                   aria-describedby="folderNameHelp" placeholder="Enter Folder Name" required>
                            <small id="folderNameHelp" class="form-text text-muted">
                                Please use alphanumeric names
                                (can include _ - and .)
                            </small>
                            <hr>
                            <button type="text" onclick="createNewFolder(selectedShare);" class="btn btn-primary">Create</button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-upload" role="tabpanel" aria-labelledby="pills-upload-tab">
                    <hr>
                    <form id="fileupload" method="post" enctype="application/octet-stream">
                        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                        <div class="row fileupload-buttonbar">
                            <div class="col-lg-6">
                                <!-- The fileinput-button span is used to style the file input field as button -->
                                <span class="btn btn-success fileinput-button" data-toggle="tooltip"
                                      title="Upload one or multiple files">
                                    <span>Upload:</span>
                                    <input type="file" name="files[]" id="fileinput" multiple />
                                </span>
                                <button type="submit" class="btn btn-primary start" data-toggle="tooltip"
                                        title="Start Upload for All">
                                    <span class="fas fa-upload" aria-label="start upload for all"></span>
                                </button>
                                <button type="reset" class="btn btn-warning cancel" data-toggle="tooltip"
                                        title="Cancel Upload for All">
                                    <span class="fas fa-ban" aria-label="cancel upload for all"></span>
                                </button>
                                <!-- The global file processing state -->
                                <span class="fileupload-process" data-toggle="tooltip"
                                      title="Upload All Files Progress"></span>
                            </div>
                            <!-- The global progress state -->
                            <div class="col-lg-6 fileupload-progress fade show">
                                <!-- The global progress bar -->
                                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0"
                                     aria-valuemax="100">
                                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                                </div>
                                <!-- The extended global progress state -->
                                <div class="progress-extended">&nbsp;</div>
                            </div>
                        </div>

                        <!-- The table listing the files available for upload/download -->
                        <table role="presentation" class="table table-striped">
                            <tbody class="files"></tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="documentViewer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <embed class="content" width="774" height="500" ></embed>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-primary download-link" download><span class="fas fa-download"></span>&nbsp;Download</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>

<!-- For dev purposes you can uncomment this block and comment out the script.js -->
<!-- <script src="azure-storage-file.min.js"></script>
<script src="fileupload/vendor/jquery.ui.widget.js"></script>
<script src="fileupload/tmpl.min.js"></script>
<script src="fileupload/load-image.all.min.js"></script>
<script src="fileupload/canvas-to-blob.min.js"></script>
<script src="fileupload/jquery.fileupload.js"></script>
<script src="fileupload/jquery.fileupload-process.js"></script>
<script src="fileupload/jquery.fileupload-image.js"></script>
<script src="fileupload/jquery.fileupload-audio.js"></script>
<script src="fileupload/jquery.fileupload-video.js"></script>
<script src="fileupload/jquery.fileupload-validate.js"></script>
<script src="fileupload/jquery.fileupload-ui.js"></script> -->

<script src="simpleazurefileexplorer.js"></script>
<!--<script type="text/javascript" src="../ClientGlobalContext.js.aspx"></script>-->

<script type="text/javascript">
 /*polyfills*/
 if (!String.prototype.startsWith) {
    Object.defineProperty(String.prototype, 'startsWith', {
        value: function(search, pos) {
            pos = !pos || pos < 0 ? 0 : +pos;
            return this.substring(pos, pos + search.length) === search;
        }
    });
}
if (!String.prototype.endsWith) {
	String.prototype.endsWith = function(search, this_len) {
		if (this_len === undefined || this_len > this.length) {
			this_len = this.length;
		}
		return this.substring(this_len - search.length, this_len) === search;
	};
}

    /* Globals */
    var dataFromQS = null;
    var params = null;
    var sasToken = null;
    var serviceGroup = null;
    var anonCred = null;
    var pipeline = null;
    var serviceURL = null;
    var selectedShare = null;
    var selectedDirectory = null;
    var selectedDirectoryURL = null;
    var selectedShareURL = null;

    function init() {
        if (!dataFromQS) {
            dataFromQS = qs("data");
            params = JSON.parse(dataFromQS);

            /* YOUR VALUES NEED TO BE PUT IN HERE */
            sasToken = params.sasToken || qs("sasToken");
            serviceGroup = params.serviceGroup || qs("serviceGroup");

            /* GLOBALS */
            anonCred = new azfile.AnonymousCredential();
            pipeline = azfile.StorageURL.newPipeline(anonCred);
            serviceURL = new azfile.ServiceURL(
                serviceGroup + sasToken,
                pipeline
            );

            selectedShare = params.share || qs("share");
            selectedDirectory = params.directory || qs("directory");
        }


        if (!!selectedShare) {
            selectedShareURL = azfile.ShareURL.fromServiceURL(serviceURL, selectedShare);
            selectedDirectoryURL = azfile.DirectoryURL.fromShareURL(selectedShareURL, "");
        }

        if (!!selectedDirectory && !!selectedShareURL) {
            selectedDirectory = trimChar(selectedDirectory, "/");
            selectedDirectoryURL = azfile.DirectoryURL.fromShareURL(selectedShareURL, selectedDirectory);
        }
    }

    function renderFilesDirs() {
        listShares(selectedShare);
        if (!!selectedShare && !selectedDirectory) {
            listDirectoriesAndFiles(selectedShare, '', selectedDirectoryURL);
            $('#path').empty();
        }
        else if (!!selectedShare && !!selectedDirectory) {
            listDirectoriesAndFiles(selectedShare, selectedDirectory, selectedDirectoryURL);
            displayHeirarchy(selectedShare, selectedDirectory);
        }
    }

    // initialize the actual uploader, overriding the getFilesFromResponse with our `processEmptyFiles` function
    function recreateUpload() {
        //$('#fileupload').fileupload('destroy');
        $('#fileupload').fileupload({
            type: 'PUT',
            dataType: 'xml',
            multipart: false,
            getFilesFromResponse: processEmptyFiles,
            sequentialUploads: true
        });

        $('#fileupload').bind('fileuploadsubmit', function (e, data) {
            var currentFile = data.files[0];
            seedFile(currentFile);
        });

        $('#fileupload').bind('fileuploaddone', function (e, data) {
            console.log("Refreshing file and directory listing...");
            renderFilesDirs()
        });
    }

    /* Async calls */
    function listShares(selectedShare) {
        var listSharesResponse = serviceURL.listSharesSegment(azfile.Aborter.none);
        listSharesResponse.then(function(data){
            $('#shares').empty();
            $.each(data.shareItems, function (key, share) {
                var shareURL = azfile.ShareURL.fromServiceURL(serviceURL, share.name);
                var linkClass = "";
                if (selectedShare == share.name) {
                    linkClass += " active";
                }
                $('#shares').append('<span class="btn btn-link ' + linkClass + '" onclick="setState(\'' + share.name + '\',\'\')">' + share.name + '</span>');
            })
        });
    }

    function listDirectoriesAndFiles (selectedShare, selectedDirectory, directoryUrl) {
        try {
            var listFilesAndDirectoriesResponse = directoryUrl.listFilesAndDirectoriesSegment(azfile.Aborter.none);
            listFilesAndDirectoriesResponse.then(function(data){
                $('#directories tbody').empty();
                //for each file in share/dir
                $.each(data.segment.fileItems, function (key, file) {
                    fileMetadata(selectedShare, selectedDirectory, file)


                    
                });

                //for each dir in share/dir
                $.each(data.segment.directoryItems, function (key, directory) {

                    directoryMetadata(selectedShare, selectedDirectory, directory)


                });
            });

        }
        catch (err) {
            $('#notification .message').text(err.body.Code);
            $('#notification').show();
        }
    }

    function directoryMetadata(selectedShare, selectedDirectory, directory){
        var newDirectory = selectedDirectory + '/' + directory.name;
        var directoryUrl = azfile.DirectoryURL.fromShareURL(selectedShareURL, newDirectory);
        var directoryUrlGetPropertiesResponse = directoryUrl.listFilesAndDirectoriesSegment(azfile.Aborter.none);

        directoryUrlGetPropertiesResponse.then(function(data){
            var dirCount = data.segment.directoryItems.length;
            var fileCount = data.segment.fileItems.length;
            var rowMarkup = '<tr><td class="text-center"><i class="fas fa-folder"></i></td>' +
                        '<td class="text-center"><button class="btn btn-danger" onclick="deleteFolder(this)" data-directory="' + selectedDirectory + '" data-name="' + directory.name + '"><i class="fas fa-trash" ></button></i></td>' +
                        '<td><button class="btn btn-link" onclick="setState(\'' + selectedShare + '\', \'' + selectedDirectory + "/" + directory.name + '\')">' + directory.name + ' - (' +fileCount+" folders " + fileCount+ ' files)</button></td></tr>';
                    $('#directories tbody').append(rowMarkup);
        });
    }

    function fileMetadata(selectedShare, selectedDirectory, file){
        var fileUrl = azfile.FileURL.fromDirectoryURL(selectedDirectoryURL, file.name);
        var fileUrlGetPropertiesResponse = fileUrl.getProperties(azfile.Aborter.none);
        fileUrlGetPropertiesResponse.then(function(data){
            var lastModifiedDate = moment(data.lastModified).fromNow();
            var rowMarkup = '<tr><td class="text-center"><i class="fas fa-file"></i></td>' +
                        '<td class="text-center"><button class="btn btn-danger" onclick="deleteFile(this)" data-directory="' + selectedDirectory + '" data-name="' + file.name + '"><i class="fas fa-trash" ></i></button></td>' +
                        '<td><span class="btn btn-link" data-directory="' + selectedDirectory + '" data-name="' + file.name + '"  data-toggle="modal" data-target="#documentViewer">' + file.name + ' - ('+lastModifiedDate+')</span></td></tr>';
                    $('#directories tbody').append(rowMarkup);
        });
    }

    function setState(share, directory) {
        params.share = selectedShare = share;
        params.directory = selectedDirectory = directory;
        init();
        renderFilesDirs();
    }

    function displayHeirarchy(selectedShare, selectedDirectory) {
        var selectedDirectories = selectedDirectory.split('/');
        var totalDirs = selectedDirectories.length - 1;
        var path = "";
        $('#path').empty();
        $('#path').append('<button class="btn btn-link nav-link" onclick="setState(\'' + selectedShare + '\',\'/\')" >/</button>');
        $.each(selectedDirectories, function (key, dir) {
            path = path + '/' + dir;
            var linkClass = "nav-link";
            if (key == totalDirs) {
                linkClass += " active";
            }
            $('#path').append('<button class="btn btn-link ' + linkClass + '" onclick="setState(\'' + selectedShare + '\', \'' + encodeURI(path) + '\')">' + dir + '/</button >');
        })
    }

    function seedFile(currentFile) {
        try {
            var fileURL = azfile.FileURL.fromDirectoryURL(selectedDirectoryURL, currentFile.name);
            var fileCreateResponse = fileURL.create(azfile.Aborter.none, currentFile.size);
            var putUrl = fileURL.url + "&comp=range";
            $('#fileupload').fileupload('option', 'url', putUrl);
            var contentRange = (currentFile.size - 1);
            var headers = {
                "x-ms-range": "bytes=0-" + contentRange,
                "x-ms-write": "update",
                "x-ms-version": "2018-11-09",
            };
            $('#fileupload').fileupload('option', 'headers', headers);
            $('#fileupload').fileupload('option', 'contentRange', contentRange);
        }
        catch (err) {
            $('#notification .message').text(err.body.Code);
            $('#notification').show();
        }
    }

    function createNewFolder() {
        try {
            var directoryName = $('#newfoldername').val();
            var newDirectory = selectedDirectory + "/" + directoryName;
            newDirectoryURL = azfile.DirectoryURL.fromShareURL(selectedShareURL, newDirectory);
            var newDirectoryCreateResponse = newDirectoryURL.create(azfile.Aborter.none);
            newDirectoryCreateResponse.then(function(data){
                console.log('Create directory ' + directoryName + 'successfully, redirecting....');
                setState(selectedShare, newDirectory);
                $('#pills-files-tab').tab('show');
            })
        }
        catch (err) {
            $('#notification .message').text(err.body.Code);
            $('#notification').show();
        }
    }

    function deleteFile(currentFile) {
        var name = $(currentFile).data("name");
        $(currentFile).closest('tr').addClass("table-warning");
        try {
            var fileURL = azfile.FileURL.fromDirectoryURL(selectedDirectoryURL, name);
            var fileDeleteResponse = fileURL.delete();
            fileDeleteResponse.then(function(data){
                console.log('Delete file ' + name + 'successful.')
                $(currentFile).closest('tr').remove();
            })

        }
        catch (err) {
            $('#notification .message').text(err.body.Code + " - " + name);
            $('#notification').show();
        }
    }

    function deleteFolder(currentFolder) {
        var name = $(currentFolder).data("name");
        $(currentFolder).closest('tr').addClass("table-warning");
        try {
            var directory = $(currentFolder).data("directory");
            var fullPath = directory + "/" + name;
            var directoryURL = azfile.DirectoryURL.fromShareURL(selectedShareURL, fullPath);
            var directoryDeleteResponse = directoryURL.delete();
            directoryDeleteResponse.then(function(data){
                console.log('Delete folder ' + name + 'successful.')
                $(currentFolder).closest('tr').remove();
            });
        }
        catch (err) {
            $('#notification .message').text(err.body.Code + " - " + name);
            $('#notification').show();
        }
    }

    // function downloadFile(currentFile) {
    //     var name = $(currentFile).data("name");
    //     try {
    //         var fileURL = azfile.FileURL.fromDirectoryURL(selectedDirectoryURL, name);
    //         var fileDownloadResponse = fileURL.download();

    //         fileDownloadResponse.then(function (data) {
    //             console.log('Download file ' + name + 'successful.');
    //             var getBlob = data.blobBody;
    //             getBlob.then(function (blob) {
    //                 var url = window.URL.createObjectURL(blob);
    //                 var a = document.createElement("a");
    //                 document.body.appendChild(a);
    //                 a.style = "display: none"
    //                 a.href = url;
    //                 a.download = name;
    //                 a.click();
    //                 window.URL.revokeObjectURL(url);
    //             })
    //         })
    //     }
    //     catch (err) {
    //         $('#notification .message').text(err.body.Code + " - " + name);
    //         $('#notification').show();
    //     }
    // }

    function renderPreview(target, modal) {
            modal.find('.modal-body .content').attr('src', "");
            modal.find('.modal-body .content').attr('type', "");
            var button = $(target) // Button that triggered the modal
            //var url = button.data('document-url') // Extract info from data-* attributes
            var name = button.data('name') // Extract info from data-* attributes

            var fileURL = azfile.FileURL.fromDirectoryURL(selectedDirectoryURL, name);
            var fileDownloadResponse = fileURL.download();
            fileDownloadResponse.then(function(data){
                console.log('Download file ' + name + 'successful.');
                var getBlob = data.blobBody;
                getBlob.then(function(blob){
                    console.log(blob);

                    var fileReader = new FileReader();
                    fileReader.onload = function() {
                        arrayBuffer = this.result;
                        var base64string = arrayBufferToBase64(arrayBuffer);
                        var blobTybe = getMimeType(name);
                        var objectUrl = 'data:' + blobTybe + ';base64,' + base64string;
                        modal.find('.modal-title').text('Viewing ' + name)
                        modal.find('.modal-body .content').attr('src', objectUrl);
                        modal.find('.modal-body .content').attr('type', blobTybe);
                        modal.find('.download-link').attr("href", objectUrl);
                        modal.find('.download-link').attr("download", name);
                    };
                    fileReader.readAsArrayBuffer(blob);
                })
            })
    }

    function initDocumentPreviewer(){
        $('#documentViewer').on('show.bs.modal', function (event) {
            var modal = $(this);
            renderPreview(event.relatedTarget, modal);
        });
    }

    

    // needed to render the result after upload since there is no payload back
    function processEmptyFiles(data) {
        if (data.textStatus == "success") {
            var dummyFile = {
                deleteType: '',
                deleteUrl: '',
                name: data.files[0].name,
                size: data.files[0].size,
                type: data.files[0].type,
                url: ''
            };
            return [dummyFile];
        }
        return [];
    };

    function clearCompletedUpload(currentRow) {
        $(currentRow).closest('tr.template-download').remove();
    }

    /* Bound functions */
    $(document).ready(function () {
        init();
        renderFilesDirs();
        recreateUpload();
        initDocumentPreviewer();
    });

    /* Helpers */
    function qs(key) {
        key = key.replace(/[*+?^$.\[\]{}()|\\\/]/g, "\\$&"); // escape RegEx meta chars
        var match = location.search.match(new RegExp("[?&]" + key + "=([^&]+)(&|$)"));
        return match && decodeURIComponent(match[1].replace(/\+/g, " "));
    }

    function trimChar(string, charToRemove) {
        while (string.charAt(0) == charToRemove) {
            string = string.substring(1);
        }
        while (string.charAt(string.length - 1) == charToRemove) {
            string = string.substring(0, string.length - 1);
        }
        return string;
    };

        
    function arrayBufferToBase64( buffer ) {
        var binary = '';
        var bytes = new Uint8Array( buffer );
        var len = bytes.byteLength;
        for (var i = 0; i < len; i++) {
            binary += String.fromCharCode( bytes[ i ] );
        }
        return window.btoa( binary );
    }

    function getMimeType(fileName){
        mimeTypes = {".au": "audio/basic", ".avi" : "video/avi", ".bmp" : "image/bmp", ".bz2" : "application/x-bzip2", ".css" : "text/css",
                    ".dtd" : "application/xml-dtd", ".doc" : "application/msword", ".exe" : "application/octet-stream", ".gif" : "image/gif",
                    ".gz" : "application/x-gzip", ".hqx" : "application/mac-binhex40", ".html" : "text/html", ".jar" : "application/java-archive",
                    ".jpg" : "image/jpeg", ".js" : "application/x-javascript", ".midi" : "audio/x-midi", ".mp3" : "audio/mpeg",
                    ".mpeg" : "video/mpeg", ".ogg" : "application/ogg", ".pdf" : "application/pdf", ".pl" : "application/x-perl",
                    ".png" : "image/png", ".ppt" : "application/vnd.ms-powerpoint", ".ps" : "application/postscript",
                    ".qt" : "video/quicktime", ".ra" : "audio/x-pn-realaudio", ".ram" : "audio/x-pn-realaudio", ".rdf" : "application/rdf",
                    ".rtf" : "application/rtf", ".sgml" : "text/sgml", ".sit" : "application/x-stuffit", ".svg" : "image/svg+xml",
                    ".swf" : "application/x-shockwave-flash", ".tar.gz" : "application/x-tar", ".tgz" : "application/x-tar", ".tiff" : "image/tiff",
                    ".tsv" : "text/tab-separated-values", ".txt" : "text/plain", ".wav" : "audio/wav", ".xls" : "application/vnd.ms-excel",
                    ".xml" : "application/xml", ".zip" : "application/zip",
                    ".dot" : "application/msword",".docx" : "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    ".dotx" : "application/vnd.openxmlformats-officedocument.wordprocessingml.template",".docm" : "application/vnd.ms-word.document.macroEnabled.12",
                    ".dotm" : "application/vnd.ms-word.template.macroEnabled.12",".xlt" : "application/vnd.ms-excel",
                    ".xla" : "application/vnd.ms-excel",".xlsx" : "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    ".xltx" : "application/vnd.openxmlformats-officedocument.spreadsheetml.template",".xlsm" : "application/vnd.ms-excel.sheet.macroEnabled.12",
                    ".xltm" : "application/vnd.ms-excel.template.macroEnabled.12",".xlam" : "application/vnd.ms-excel.addin.macroEnabled.12",
                    ".xlsb" : "application/vnd.ms-excel.sheet.binary.macroEnabled.12",".pot" : "application/vnd.ms-powerpoint",
                    ".pps" : "application/vnd.ms-powerpoint",".ppa" : "application/vnd.ms-powerpoint",".pptx" : "application/vnd.openxmlformats-officedocument.presentationml.presentation",
                    ".potx" : "application/vnd.openxmlformats-officedocument.presentationml.template",".ppsx" : "application/vnd.openxmlformats-officedocument.presentationml.slideshow",
                    ".ppam" : "application/vnd.ms-powerpoint.addin.macroEnabled.12",".pptm" : "application/vnd.ms-powerpoint.presentation.macroEnabled.12",
                    ".potm" : "application/vnd.ms-powerpoint.template.macroEnabled.12",".ppsm" : "application/vnd.ms-powerpoint.slideshow.macroEnabled.12",
                    ".mdb" : "application/vnd.ms-access"
                };
        
        var extension = fileName.split('.').pop();
        return mimeTypes['.' + extension ] || "application/octet-stream";
    }

</script>

<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade show">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            {% if (window.innerWidth > 480 || !o.options.loadImageFileTypes.test(file.type)) { %}
            <p class="name">{%=file.name%}</p>
            {% } %}
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
            <button class="btn btn-primary start" disabled data-toggle="tooltip" title="Start upload for {%=file.name%}">
                <span class="fas fa-upload" aria-label="start upload for all"></span>
            </button>
            {% } %}
            {% if (!i) { %}
            <button class="btn btn-warning cancel" data-toggle="tooltip" title="Cancel upload for {%=file.name%}">
                <span class="fas fa-ban" aria-label="cancel upload for all"></span>
            </button>
            {% } %}
        </td>
    </tr>
    {% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade show">
        <td>
            <span class="preview">
                <button class="btn btn-success"><i class="fas fa-check"></i> Uploaded Successfully!</button>
            </span>
        </td>
        <td>
            {% if (window.innerWidth > 480 || !file.thumbnailUrl) { %}
            <p class="name">
                <span>{%=file.name%}</span>
            </p>
            {% } %}
            {% if (file.error) { %}
            <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            <button class="btn bt-secondary" onclick="clearCompletedUpload(this)"><i class="fas fa-times"></i></button>
        </td>
    </tr>
    {% } %}
</script>

</html>